@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	font-color: #474a4f;
}
p {
	padding-left: 15%;
	padding-right: 15%;
	line-height: 25px; 
}
header {
	padding-top: 7%;
	text-align: center;
	text-transform: uppercase;
	background-image: linear-gradient(rgba(136, 167, 216, 0.4) 0%,rgba(0,0,0,0.7) 100%), url(https://images.pexels.com/photos/5329/person-woman-apple-hotel.jpg?w=1260&h=750&auto=compress&cs=tinysrgb);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 75vh;
	color: #dee7f4;
}
.fa {
	font-size: 50px;
}
.scroll-down {
	position: absolute;
	padding-top: 10%;
	padding-left: 48%;
	margin: auto;
	width :34px;
	height: 55px;
}
.mouse {
	width: 1px;
	padding: 10px 15px;
	height: 25px;
	border: 2px solid #dee7f4;
	border-radius: 25px;
	opacity: 0.75;
}
.scroller {
	width: 1px;
	height: 10px;
	border-radius: 25%;
	background-color: #dee7f4;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15,.41,.69,.94);
	animation-iteration-count: infinite;
}
@keyframes scroll {
	0% { opacity: 0; }
	10% { transform: translateY(0); opacity: 1; }
	100% { transform: translateY(15px); opacity: 0;}
}
.about {
	text-align: center;
}
.aboutus {
	margin: 8% 15%;
}
legend {
	width: 350px;
	text-transform: uppercase;
	font-size: 33px;
	font-weight: bold;
}
.services {
	text-align: center;
	background-image: linear-gradient(rgba(136, 167, 216, 0.7) 0%,rgba(0,0,0,0.8) 100%), url(https://images.pexels.com/photos/265052/pexels-photo-265052.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
	background-repeat: no-repeat;
	background-size: cover;
	color: #dee7f4;
}
.serv {
	margin: 6% 15%;
}
.scope {
	text-align: center;
}
.offer {
	margin: 8% 15%;	
}
.offer img {
	height: 60px;
	width: auto;
	position: relative;
}
.pen {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.offer h2 {
	text-transform: uppercase;
}
.gal {
	text-align: center;
}
.gallery img {
	width: 33.06%;
	height: 250px;
}
.contact {
	margin: 8% 15%;	
	text-align: center;
}
button {
	text-transform: uppercase;
	width: 350px;
	height: 55px;
	background-color: #474a4f;
	color: #FFF;
	border: none; 
	font-size: 15px;
}
@media(min-width: 768px) and (max-width: 1000px) {
	.gallery img {
		height: 150px;
	}
}
@media (max-width: 767px) {
	legend {
		width: 200px;
		font-size: 25px;
	}
	.gallery img {
		width: 40%;
		height: 100px;
	}
	button {
		width: 200px;
	}
}